<p style="color: green"><%= notice %></p>

<%= render @message %>

<div>
  <%= link_to "Edit this message", edit_chat_message_path(@chat, @message) %> |
  <%= link_to "Back to messages", chat_messages_path(@chat) %>

  <%= button_to "Destroy this message", [@chat, @message], method: :delete %>
</div>
