<%= form_with(model: model, class: "contents") do |form| %>
  <% if model.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(model.errors.count, "error") %> prohibited this model from being saved:</h2>

      <ul>
        <% model.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :url %>
    <%= form.text_field :url, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="mb-4">
    <%= form.label :executor_type, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.select :executor_type, Model.executor_types.keys.map { |w| [w.humanize, w] }, {}, class: "block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" %>
  </div>

  <div class="my-5">
    <%= form.label :api_key %>
    <%= form.text_field :api_key, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <% if model.new_record? %>
    <%= form.fields_for :model_versions, @model_version do |model_version_fields| %>
      <div class="my-5">
        <%= model_version_fields.label :configuration %>
        <%= model_version_fields.text_field :configuration, value: {}.to_json , class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
      </div>

      <div class="my-5">
        <%= model_version_fields.label :description %>
        <%= model_version_fields.text_area :description, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
      </div>

      <div class="my-5">
        <%= model_version_fields.label :built_on %>
        <%= model_version_fields.date_field :built_on, value: Date.today, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
      </div>

      <div class="my-5">
        <%= model_version_fields.label :build_name %>
        <%= model_version_fields.text_field :build_name, value: 'Version 1', class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
      </div>
    <% end %>
  <% end %>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    <% unless @model.new_record? %>
      <%= link_to "Show this model", @model, class: "ml-2 rounded-lg py-3 px-5 secondary-button inline-block font-medium" %>
    <% end %>
    <%= link_to "Back to dashboard", root_path, class: "ml-2 rounded-lg py-3 px-5 secondary-button inline-block font-medium" %>
  </div>
<% end %>
