<div class="container px-6 mx-auto mt-10 mb-10 grid">
  <h1 class="font-bold text-4xl text-gray-900 dark:text-gray-100">Edit prompt</h1>

  <%= form_with(url: prompt_path(@parent_prompt), method: :patch, class: "contents") do |form| %>
    <% if @prompt.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(@prompt.errors.count, "error") %> prohibited this prompt from being saved:</h2>

        <ul>
          <% @prompt.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="my-5">
      <%= form.label :name, class: "text-gray-900 dark:text-gray-100" %>
      <%= form.text_field 'prompt[name]', value: "#{@parent_prompt.name.gsub(/ Version \d+/, '')} Version #{@parent_prompt.ancestor_ids.size + 2}", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :value, class: "text-gray-900 dark:text-gray-100" %>
      <%= form.text_area 'prompt[value]', value: @parent_prompt.value, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="inline">
      <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
      <%= link_to "Back to prompt", prompt_path(@parent_prompt), class: "ml-2 rounded-lg py-3 px-5 secondary-button inline-block font-medium" %>
    </div>
  <% end %>
</div>
