<div class="container px-6 mx-auto mt-10 grid">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= render @prompt %>

  <div class="inline">
    <% if @prompt.childless? %>
      <%= link_to "Back to prompts", prompts_path, class: "rounded-lg py-3 px-5 secondary-button inline-block font-medium" %>
    <% else %>
      <%= link_to "Back to latest version", prompt_path(@prompt.children.first), class: "rounded-lg py-3 px-5 secondary-button inline-block font-medium" %>
    <% end %>
    <%= link_to "Create test runs", new_test_run_path(prompt_id: @prompt), class: "ml-2 rounded-lg py-3 px-5 secondary-button inline-block font-medium" %>
    <% if @prompt.childless? %>
      <%= link_to "Edit this prompt", edit_prompt_path(@prompt), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <div class="inline-block ml-2">
        <%= button_to "Destroy this prompt", @prompt, method: :delete, class: "mt-2 rounded-lg py-3 px-5 delete-button font-medium" %>
      </div>
    <% end %>
  </div>

  <div class="w-full w-full mx-auto mt-10 overflow-hidden rounded-lg shadow-xs">
    <h1 class="font-bold text-4xl">Test Runs</h1>
    <div class="w-full overflow-x-auto">
      <table class="w-full whitespace-no-wrap">
        <thead>
          <tr
            class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
          >
            <th class="px-4 py-3">ID</th>
            <th class="px-4 py-3">Name</th>
            <th class="px-4 py-3">Models</th>
            <th class="px-4 py-3">Created at</th>
          </tr>
        </thead>
        <tbody
          class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
        >
          <% if @test_runs.empty? %>
            <tr>
              <td colspan="7" class="px-4 py-3 text-center">
                <p class="text-gray-500">No test runs found.</p>
              </td>
            </tr>
          <% else %>
            <% @test_runs.each do |test_run| %>
              <tr class="text-gray-700 dark:text-gray-400">
                <td class="px-4 py-3 text-sm">
                  <p class="font-semibold"><%= link_to test_run.id, test_run, class: "text-blue-500 underline-link" %></p>
                </td>
                <td class="px-4 py-3 text-sm">
                  <p class="font-semibold"><%= test_run.name %></p>
                </td>
                <td class="px-4 py-3 text-sm">
                  <p class="font-semibold"><%= test_run.model_versions.map(&:full_name).join(', ') %></p>
                </td>
                <td class="px-4 py-3 text-sm">
                  <%= time_ago_in_words(test_run.created_at) %> ago
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <% if @prompt.childless? %>
    <div class="w-full overflow-hidden rounded-lg shadow-xs mx-auto mt-10 w-full">
      <h1 class="font-bold text-4xl">Versions</h1>
      <div class="w-full overflow-x-auto">
        <table class="w-full whitespace-no-wrap">
          <thead>
            <tr
              class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
            >
              <th class="px-4 py-3">Name</th>
              <th class="px-4 py-3">Created At</th>
            </tr>
          </thead>
          <tbody
            class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
          >
            <% if @prompt.ancestors.empty? %>
              <tr>
                <td colspan="2" class="px-4 py-3 text-center">
                  <p class="text-gray-500">No prompts found.</p>
                </td>
              </tr>
            <% else %>
              <% @prompt.ancestors.each do |prompt| %>
                <tr class="text-gray-700 dark:text-gray-400">
                  <td class="px-4 py-3 text-sm">
                    <p class="font-semibold"><%= link_to prompt.name, prompt, class: "text-blue-500 underline-link" %></p>
                  </td>
                  <td class="px-4 py-3 text-sm">
                    <%= prompt.created_at.to_date %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>
