<div class="container px-6 mx-auto mt-10 mb-10 grid">
  <p class="my-5 text-gray-900 dark:text-gray-100">
    <strong class="font-medium mb-1">Model:</strong>
    <%= link_to @test_result.model_version.model.name, @test_result.model_version.model, class: "text-blue-500 underline-link" %>
  </p>
  <p class="my-5 text-gray-900 dark:text-gray-100">
    <strong class="font-medium mb-1">Model version:</strong>
    <%= link_to @test_result.model_version.build_name, [@test_result.model_version.model, @test_result.model_version], class: "text-blue-500 underline-link" %>
  </p>

  <p class="my-5 text-gray-900 dark:text-gray-100">
    <strong class="font-medium mb-1">Status:</strong>
    <span
      class="px-2 py-1 font-semibold leading-tight rounded-full <%= define_status_class(@test_result.status) %>"
    >
      <%= @test_result.status.capitalize %>
    </span>
   </p>

  <strong class="font-medium mb-1 text-gray-900 dark:text-gray-100">Result:</strong>
  <pre id="json-display" class="ext-gray-900 dark:text-gray-100"></pre>
  <div class="w-full w-full mx-auto mt-10 overflow-hidden rounded-lg shadow-xs" data-controller="assertionResultModal">
    <h1 class="font-bold text-4xl text-gray-900 dark:text-gray-100">Assertions</h1>
    <div class="w-full overflow-x-auto">
      <table class="w-full whitespace-no-wrap max-w-xl">
        <thead>
          <tr
            class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
          >
            <th class="px-4 py-3">Assertion</th>
            <th class="px-4 py-3">Result</th>
            <th class="px-4 py-3"></th>
          </tr>
        </thead>
        <tbody
          class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
        >
          <% if @assertion_results.empty? %>
            <tr>
              <td colspan="7" class="px-4 py-3 text-center">
                <p class="text-gray-500">No assigned assertions found.</p>
              </td>
            </tr>
          <% else %>
            <% @assertion_results.each do |assertion_result| %>
              <tr class="text-gray-700 dark:text-gray-400">
                <td class="px-4 py-3 text-sm">
                  <p class="font-semibold"><%= link_to assertion_result.assertion.name, assertion_result.assertion, class: "text-blue-500 underline-link" %></p>
                </td>
                <td class="px-4 py-3 text-xs">
                  <span
                    class="px-2 py-1 font-semibold leading-tight rounded-full <%= define_assertions_state_class(assertion_result.state) %>"
                  >
                     <%= assertion_result.state.capitalize %>
                  </span>
                </td>
                <% if assertion_result.assertion.model_version? && assertion_result.result.present? %>
                  <td class="px-4 py-3 text-sm">
                    <button data-action="click->assertionResultModal#show" class="text-blue-500 underline-link" data-assertion='<%= assertion_result.assertion.name %>' data-json="<%= json_escape(assertion_result.result) %>">
                      Show full response
                    </button>
                  </td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div id="assertion-result-modal" class="fixed inset-0 flex items-center justify-center hidden bg-gray-800 bg-opacity-50">
      <div class="bg-white rounded-lg shadow-lg p-6 max-w-xl w-full">
        <h2 data-assertionResultModal-target="label" class="text-xl font-bold mb-4">Full Result</h2>
        <pre data-assertionResultModal-target="content" class="bg-gray-100 p-4 rounded-lg overflow-auto"></pre>
        <button data-action="click->assertionResultModal#close" class="mt-4 px-4 py-2 bg-blue-500 text-white rounded-lg">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  var jsonData = <%= raw @test_result.result %>;
  document.getElementById('json-display').textContent = JSON.stringify(jsonData, null, 2);
</script>
