<%= form_with(model: participant) do |form| %>
  <% if participant.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(participant.errors.count, "error") %> prohibited this participant from being saved:</h2>

      <ul>
        <% participant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :configuration, style: "display: block" %>
    <%= form.text_area :configuration %>
  </div>

  <div>
    <%= form.label :implementor, style: "display: block" %>
    <%= form.text_field :implementor %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
