<%= form_with(model: [@model, model_version], class: "contents") do |form| %>
  <% if model_version.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(model_version.errors.count, "error") %> prohibited this model_version from being saved:</h2>

      <ul>
        <% model_version.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :configuration %>
    <%= form.text_field :configuration, value: model_version&.configuration ? JSON::dump(model_version&.configuration) : default_configuration(@model.executor_type), class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :built_on %>
    <%= form.date_field :built_on, value: model_version&.built_on || Date.today, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :build_name %>
    <%= form.text_field :build_name, value: model_version&.build_name || "Version #{ @model.model_versions.count + 1 }", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    <% unless @model_version.new_record? %>
      <%= link_to "Show this model version", [@model, @model_version], class: "ml-2 rounded-lg py-3 px-5 secondary-button inline-block font-medium" %>
    <% end %>
    <%= link_to "Back to model", model_path(@model), class: "ml-2 rounded-lg py-3 px-5 secondary-button inline-block font-medium" %>
  </div>
<% end %>
