<div id="<%= dom_id model_version %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Model:</strong>
    <%= @model&.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Configuration:</strong>
    <%= model_version.configuration&.to_json %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= model_version.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Built on:</strong>
    <%= model_version.built_on %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Build name:</strong>
    <%= model_version.build_name %>
  </p>

</div>
