<div class="container px-6 mx-auto mt-10 grid">
  <%= form_for(test_run, class: "contents") do |form| %>
    <% if test_run.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(test_run.errors.count, "error") %> prohibited this test run from being saved:</h2>

        <ul>
          <% test_run.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="my-5">
      <%= form.label :name %>
      <%= form.text_field :name, value: test_run&.name || Time.zone.now.strftime("%b %d, %Y %I:%M %p"), class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :prompt_id %>
      <%= form.select :prompt_id, grouped_options_for_select(options_with_versions(@prompts, @ancestor_prompts), @prompt&.id), {}, { class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" } %>
    </div>
    <div class="my-5">
      <%= form.label :calls %>
      <%= form.number_field :calls, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <div class="my-5">
      <%= form.label :assertions %>
      <%= form.collection_select :assertion_ids, @assertions, :id, :name, {}, { multiple: true, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" } %>
    </div>
    <div class="my-5">
      <%= form.label :model_versions %>
      <%= form.collection_select :model_version_ids, @model_versions, :id, :full_name, {}, { multiple: true, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" } %>
    </div>
    <div class="my-5">
      <%= form.label 'Passing threshold in %' %>
      <%= form.number_field :passing_threshold, step: '0.01', max: 100, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="inline">
      <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
      <% if @prompt.present? %>
        <%= link_to "Back to prompt", prompt_path(@prompt), class: "ml-2 rounded-lg py-3 px-5 secondary-button inline-block font-medium" %>
      <% else %>
        <%= link_to "Back to test runs", test_runs_path, class: "ml-2 rounded-lg py-3 px-5 secondary-button inline-block font-medium" %>
      <% end %>
    </div>
  <% end %>
</div>
