<div class="container px-6 mx-auto mt-10 grid">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= render @test_run %>

  <div class="w-full w-full mx-auto mt-10 overflow-hidden rounded-lg shadow-xs">
    <h1 class="font-bold text-4xl">Models Runs</h1>
    <div class="w-full overflow-x-auto">
      <table class="w-full whitespace-no-wrap">
        <thead>
          <tr
            class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
          >
            <th class="px-4 py-3">ID</th>
            <th class="px-4 py-3">Model</th>
            <th class="px-4 py-3">Model Version</th>
            <th class="px-4 py-3">Assertions Passed Percentage</th>
            <th class="px-4 py-3">Created at</th>
          </tr>
        </thead>
        <tbody
          class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
        >
          <% if @test_model_version_runs.empty? %>
            <tr>
              <td colspan="7" class="px-4 py-3 text-center">
                <p class="text-gray-500">No model versions runs found.</p>
              </td>
            </tr>
          <% else %>
            <% @test_model_version_runs.each do |test_model_version_run| %>
              <tr class="text-gray-700 dark:text-gray-400">
                <td class="px-4 py-3 text-sm">
                  <p class="font-semibold"><%= link_to test_model_version_run.id, [@test_run, test_model_version_run], class: "text-blue-500 underline-link" %></p>
                </td>
                <td class="px-4 py-3 text-sm">
                  <p class="font-semibold"><%= link_to test_model_version_run.model_version.model.name, test_model_version_run.model_version.model, class: "text-blue-500 underline-link" %></p>
                </td>
                <td class="px-4 py-3 text-sm">
                  <p class="font-semibold"><%= link_to test_model_version_run.model_version.build_name, [test_model_version_run.model_version.model, test_model_version_run.model_version], class: "text-blue-500 underline-link" %></p>
                </td>
                 <td class="px-4 py-3 text-sm">
                  <p class="font-semibold"><%= test_model_version_run.passed_percentage %>%</p>
                </td>
                <td class="px-4 py-3 text-sm">
                  <%= test_model_version_run.created_at.to_date %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
