<!DOCTYPE html>
<html :class="{ 'dark': dark }" x-data="data()" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Llamagator</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'init-alpine' %>
    <%= javascript_include_tag 'compare' %>
    <%= javascript_include_tag 'focus-trap' %>
    <%= javascript_importmap_tags %>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>

    <link rel="icon" href="<%= asset_path 'favicon.ico' %>" type="image/x-icon">
    <link rel="shortcut icon" href="<%= asset_path 'favicon.ico' %>" type="image/x-icon">
  </head>
  <body>
    <% if current_user %>
      <%= render 'layouts/signed_in_header', model: @model %>
    <% end %>
    <main class="h-full overflow-y-auto">
          <%= yield %>
    </main>
  </body>
</html>
