<div id="<%= dom_id test_model_version_run %>">
  <p class="my-5">
    <strong class="font-medium mb-1">Model:</strong>
    <%= test_model_version_run.model_version.model.name %>
  </p>
  <p class="my-5">
    <strong class="font-medium mb-1">Model version:</strong>
    <%= test_model_version_run.model_version.build_name %>
  </p>
  <p class="my-5">
    <strong class="font-medium mb-1">Prompt:</strong>
    <%= test_model_version_run.test_run.prompt.value %>
  </p>
  <p class="my-5">
    <strong class="font-medium mb-1">State:</strong>
    <% state = test_model_version_run.state %>
    <span
      class="px-2 py-1 font-semibold leading-tight rounded-full <%= define_status_class(state) %>"
    >
        <%= state.capitalize %> <%= test_model_version_run.passed_percentage.present? ? "(#{test_model_version_run.passed_percentage})%" : '' %>
    </span>
  </p>

</div>
